@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Itim&family=Micro+5&display=swap');

body {
    background-color: rgb(235, 235, 210);
    width: 100%;
    height: auto;
    background-image: url(../assets/background/flowers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

* {
    margin: 0;
}

/*//////////MENU//////////*/

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
}

dialog {
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 0 0 12px 12px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    width: 80vw;
    height: 8vh;
    top: -100vw;
    z-index: 11;
    margin: 0 auto;
    transition: .5s ease-in;
}

dialog a img {
    width: 10vw;
}

/*//////////CORPO DA PAGINA//////////*/

section.center-both {
    display: flex;
    justify-content: space-around;
}

div.divide {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}

img.homeGif {
    width: 40vw;
    height: 40vw;
    border-radius: 12px;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

div.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.addSpotify {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7vw 0;
    padding: 0;
    gap: 3vw;
    z-index: 1;
    transition: opacity 0.5s ease;
}

iframe.iframeSpotify {
    border-radius: 12px;
    width: 90%;
    height: 25vh;
    z-index: 2;
    margin: 0;
}

/*//////////TEXTS FONTS//////////*/

h1 {
    font-family: "Bungee", sans-serif;
    color: white;
    font-size: 28px;
    margin: 10vw;
    text-shadow: 2px 1px 2px black;
}

h2 {
    font-family: "Itim", cursive;
    color: white;
    text-shadow: 2px 1px 2px black;
}

h3 {
    font-family: "Itim", cursive;
    color: white;
    text-shadow: 2px 1px 2px black;
}

h4 {
    font-family: "Itim", cursive;
    color: white;
    text-shadow: 2px 1px 2px rgb(0, 0, 255);
}

/*//////////DIMENSOES CELL NOKO//////////*/
@media (min-width: 601px) and (max-width: 1200px) {
    dialog {
        border-radius: 0 0 42px 42px;

        width: 85vw;
        height: 10vh;
    }

    dialog a img {
        width: 11vw;
    }

    img.homeGif {
        width: 42vw;
        height: 42vw;
        border-radius: 30px;
    }

    h1 {
        font-size: 90px;
        text-shadow: 4px 2px 10px black;
    }

    h2 {
        font-size: 70px;
        text-shadow: 4px 2px 10px black;
    }

    h3 {
        font-size: 58px;
        text-shadow: 4px 2px 9px black;
    }

    h4 {
        font-size: 45px;
        text-shadow: 4px 2px 8px rgb(0, 0, 255);
    }
}