@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Great+Vibes&family=Moirai+One&family=Shadows+Into+Light&display=swap');
body{
    background-color: rgb(27, 27, 27);
    background-image: url(assets/background/background.jpg);
    background-size: cover;
    overflow: hidden;
}

*{
    margin: 0;
}

div.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 160vw;
}

div.line{
    display: flex;
    flex-direction: row;
}

div.cube{
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.794);
    background-size: contain;
    background-position: bottom;
    background-position: center;
    background-repeat:no-repeat;
    border-radius: 16px;
    width: 40vw;
    height: 40vw;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    transition: box-shadow 2s ease, display 2s ease;
}

button#bt{
    margin-bottom: 15vw;
    font-size: 36px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.629);
    border: none;
    border-radius: 12px;
    width: 80vw;
    height: 15vw;
}

button#unlock{
    margin-top: 12vw;
    font-size: 18px;
    color: rgb(5, 5, 240);
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
}

h2 {
    display: none;
    font-family: 'Great Vibes';
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0400ff9d, 0 0 70px #2a55ffcb, 0 0 80px #0015ff;
}

h3{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Moirai One', system-ui;
}

@media (min-width: 601px) and (max-width: 1200px) {
    body{
        background-size: 112%;
    }

    div.cube{
        border-radius: 43px;
    }

    button#bt{
        font-size: 86px;
        border-radius: 33px;
        width: 80vw;
        height: 15vw;
    }

    button#unlock{
        font-size: 50px;
        width: 15vw;
        border-radius: 22px;
    }

    h2{
        /* display: block; */
        font-size: 63px;
    }

    h3 {
      font-size: 80px;
    }
  }