@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Parisienne&display=swap');


body {
    -webkit-padding-start: 2vw;
    width: 90vw;
    background-color: rgb(53, 53, 53);
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
}

dialog {
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 0 0 12px 12px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

    width: 88vw;
    height: 100%;
    top: -300vw;
    z-index: 11;
    transition: .5s ease-in;
}

dialog a img{
    width: 30vw;
}

.title {
    display: flex;
    width: 98vw;
    justify-content: center;
    margin: 2vw 0 2vw 0;
}

.addPhotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    gap: 4vw 0;
}

.addPhotosAfter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    gap: 4vw 0;
}

div.cube {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 45vw;
    height: 56vw;
}

div.img {
    background-color: black;
    background-size: cover;
    background-position: center;
    margin: 2vw 0 0 0;
    width: 40vw;
    height: 37vw;
}

div.texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
}

div.writeTextContent{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 4vh 4vw;
    margin: 2vw 0;

    background-color: rgb(255, 255, 255);
}

p.pTexts{
    color: white;
    font-size: 162%;
    /* text-wrap:wrap; */
    text-align: justify;
}

h1 {
    font-size: 40px;
    font-family: "Parisienne", cursive;
    font-weight: 1000;
    text-shadow: 1px 1.2px 5px white;
}

h2 {
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 25px;
}

h3 {
    margin: 5vw;
    font-family: "Caveat", cursive;
    max-width: 93%;
    font-size: 18px;
    animation: scroll 60s linear infinite;
}

p {
    font-family: "Caveat", cursive;
    text-align: end;
    font-size: 12px;
    margin-right: 1vw;
    bottom: 0;
    right: 0;
}

@media (min-width: 601px) and (max-width: 1200px) {
    h1 {
        font-size: 95px;
        font-family: "Parisienne", cursive;
        font-weight: 1000;
        text-shadow: 1px 1.2px 5px white;
    }

    h2 {
        font-family: "Caveat", cursive;
        text-align: center;
        font-size: 68px;
    }

    h3{
        font-size: 40px;
    }

    p {
        font-family: "Caveat", cursive;
        text-align: end;
        font-size: 32px;
        margin-right: 1vw;
    }

    p.pTexts{
        font-size: 362%;
    }
}

@keyframes scroll {
    15% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }