@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Parisienne&display=swap');

body {
    background-color: rgb(53, 53, 53);
    overflow-x: hidden;
}

* {
    margin: 0;
}

div.title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2vw 0 2vw 0;
}

div.center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4vw;
    justify-content: center;
}

div.centerElements {
    /* background-color: aqua; */
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    perspective: 1000px;
}

div.darker {
    background-color: rgba(0, 0, 0, 0.837);
    position: absolute;
    display: none;
    width: 100%;
    height: 200vh;
    z-index: 2;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

div.bigPhotoAdd {
    background-color: antiquewhite;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transform-style: preserve-3d;
    transition: opacity 0.5s ease, transform 1s;
    z-index: 6;
}

div.cube {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 45vw;
    height: 56vw;
    backface-visibility: hidden;
}

div.cubeBack {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 45vw;
    height: 56vw;
    font-size: 1rem;
    
}

#big {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    transform-origin: center center;
    backface-visibility: hidden;
    z-index: 10;
}

#bigBack {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2) rotateY(180deg);
    transform-origin: center center;
    backface-visibility: hidden;
    overflow: hidden;
    z-index: 9;
}

#flip {
    transform: rotateY(180deg);
}

div.img {
    background-color: black;
    background-size: cover;
    margin: 2vw 0 0 0;
    width: 40vw;
    height: 37vw;
}

div.texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
}

h1 {
    font-size: 45px;
    font-family: "Parisienne", cursive;
    font-weight: 1000;
    text-shadow: 1px 1.2px 5px white;
}

h2 {
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 25px;
}

h3 {
    margin: 5vw;
    font-family: "Caveat", cursive;
    max-width: 93%;
    font-size: 18px;
    animation: scroll 60s linear infinite;
}

p {
    font-family: "Caveat", cursive;
    text-align: end;
    font-size: 12px;
    margin-right: 1vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 601px) and (max-width: 1200px) {
    h1 {
        font-size: 95px;
        font-family: "Parisienne", cursive;
        font-weight: 1000;
        text-shadow: 1px 1.2px 5px white;
    }

    h2 {
        font-family: "Caveat", cursive;
        text-align: center;
        font-size: 68px;
    }

    h3{
        font-size: 40px;
    }

    p {
        font-family: "Caveat", cursive;
        text-align: end;
        font-size: 32px;
        margin-right: 1vw;
    }
}

@keyframes scroll {
    15% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }